@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,500&family=Noto+Sans+KR:wght@300;400;500&display=swap');
* {
  /* font-family: 'Noto Sans KR', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  font-weight:500;
}
  /* background: rgba(200,100,100, 0.5); */

/* Navbar */
/* toolbar*/
/* .css-1t29gy6-MuiToolbar-root{ */
.MuiToolbar-root{
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
/* background-image: url("./Images/myplaylists-bg.jpeg"); */
background-image: url("./Images/ToolbarBG11.jpg");
background-size: cover;
background-position:bottom;
/* background: rgba(200,100,100, 0.45); */
/* background: rgba(81, 139, 173, 0.349); */
}

.navbar-ul{
  list-style: none;
}

.navbar-li{
  color: white;
}

/* .box-navbar{ */
  .box-navbar{
  /* border:red 1px solid; */
margin-left:auto;
}




.css-ikb3mf-MuiButtonBase-root-MuiButton-root{
  margin:0 0.5em;
}

.css-10hburv-MuiTypography-root  {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 500 !important;
    /* font-family: 'Montserrat', sans-serif ; */
}

h1{
  font-family: sans-serif, 'Montserrat';
}
h3 {
  font-weight: 500;
}

/* Intro */
.intro-outer-container{
  padding:0 6em 8em 6em;
  /* background-image:url("./Images/IntroBG.jpg"); */
}

.intro-outer-container > h3{
  margin-top:4em;
  /* color:yellowgreen; */
}

.intro-div {
  /* border: green 2px solid; */
  /* margin: 1rem; */
  /* padding: 0 3.5em; */
  padding-top: 2.5em;
  /* padding-left: 6em; */
  display:inline-block;
  margin-bottom:0.5em;
  /* background:	rgba(248,24,148, 0.7); */
}


.intro-div > h1,
.intro-div > h2 {
  line-height: 2.2em;
}
.intro-div > h3{
  margin-bottom:0;
}

.fed {
  color:#FF0095;
}
.intro-div:hover {
color:#FF0095 ;
}

.intro-div:hover .fed{
  /* background-color:rgb(0, 65, 243); */
  padding:0.3em;
  font-style: italic;
  font-weight:600;
  background-color:#FF0095 ;
  color:white;
  transition:0.5s ease;

}

.intro-div:hover .from-right{
  background:#fabce0 ;
  }


.home-container{
  /* display:flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* height:auto;
  vertical-align: middle;
  border-style: none; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: white;
}

.proj-demos-container{
  /* border: red solid 5px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* max-width: 1px;
  max-height: 2px; */
  text-align: center;
  /* padding-left:6em; */
}


@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}



.from-right{
    /* border: blue solid 1px; */
  /* font-family: sans-serif; */
  margin: 5em 0 3em 0;
  z-index:1;
  display: block;
  text-align: left;
  /* min-height:0.3em; */
  /* min-height:0.5em; */
  min-height:0.7em;
  max-width:inherit;
  /* color:white; */
  background: linear-gradient(to right, #FF0095  0%, white 100%);
  /* background: #FF0095; */
background-size: 200% 100%;
background-position:left bottom;
animation: 3s ease-out 0s 1 slideInFromRight;
border-radius:0.3em;
}

.proj-demo-link > h3 {
text-align:left;
margin-top: 2em ;
/* margin-right:4em; */
}

.proj-demo-thumb-container {
  /* border: 3px solid yellowgreen; */
  margin-top: 2em ;
  /* display:flex;
  flex-wrap: wrap; */
  padding:1em;
  position: relative;
  width: 30%;
}

.proj-demo-img{
  opacity: 1;
  width:100%;
  height:auto;
  transition: .3s ease;
  backface-visibility: hidden;
  display: block;
}

.proj-thumb-middle{
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: .3s ease;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  /* below will overlap the text */
  width:100%;
  height:100%;
  /* to place title in center */
  display:flex;
  justify-content: center; 
  align-items: center;
}

.proj-demo-thumb-container:hover .proj-demo-img{
  opacity:0.3;
}


.proj-demo-thumb-container:hover .proj-thumb-middle{
  opacity: 1;
  content:"\A";
  width:95%;
  height:90%;
  /* background:rgba(255, 0, 0, 0.5); */
  background:rgba(255, 48, 48, 0.616);
  /* background:rgba(0, 255, 255, 0.5); */
}

.proj-thumb-title{
  color: white;
  padding: 1em 2em;
 font-size: 1.5rem;
}



